body {
    font-family: georgia, serif;
color: #444;
background: #EEEEEE;
}

h1, h2, h3, h4 , h5, h6 {
        font-family: helvetica, arial, sans-serif;  
/*    font-size:1em; */
 	line-height: 1.286;
/*	margin-top: 1.286em;
	margin-bottom: 1.286em; */
}
table {
    border-collapse: collapse;
}

td {
    vertical-align: top;
}
th,td {
    padding: 10px;
    text-align: left;
}

table, th, td {
/*     border: 1px solid black; */
}


.tooltip { 
	 border-bottom: 1px dotted black;
	 }
.lo {
    	font-family: "helvetica neue", arial, sans-serif;
	font-size: 11pt;
	background-color; #CCCCCC;
/*	display: block;  */
	/*	line-height: 1.45em; 
color: #333; */
}

.hn {
 font-family:Verdana, Geneva, sans-serif;
 font-size:10pt; 
/* color:#828282; */
}

h2.link a {
/*    color:#999; */
 	color: #444;  
	text-decoration: none;

}

h2.link a:hover {
 	text-decoration: underline; 
}
.date {
    font-size: 16pt;
}


.domain {
    font-size: 11pt;
    vertical-align: middle;

    font-style: italic;
    font-weight: normal;
    font-family: "helvetica neue", arial, sans-serif;    
}

