<!DOCTYPE html>
<html lang="en">
<head>
<title>[% meta.page_title %]</title>

[% INCLUDE common.tt %]

<script src="http://gerikson.com/js/pretty.js"></script>

<script>
window.onload = function(){
	var links = document.getElementById("generated");	

		if ( links.getAttribute("timestamp")) {
			var date = prettyDate(links.getAttribute("timestamp"));
			if ( date )
				links.innerHTML = date;
		}
};
</script>

</head>
<body>
