<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HN update queue for HN&amp;&amp;LO</title>
    </head>
  <style>
    li: {padding-top: 20px; padding-bottom: 20px; }
    .split-line span {float:right;padding-right: 10%;}
    table td, table td * { vertical-align: top; width: 90%;}
    table td.num {text-align: right;}
    table td.center {text-align: center;}
    td:nth-child(1) { width: 3%; }
    td:nth-child(2) { width: 5%; }
    td:nth-child(3) { width: 47%; }
    td:nth-child(4) { width: 15%; }
    td:nth-child(5) { width: 5%; }
    td:nth-child(6) { width: 5%; }
    td:nth-child(7) { width: 8%; }
    td:nth-child(8) { width: 8%; }
    td:nth-child(9) { width: 4%; }
        td:nth-child(10) { width: 4%; }	
    

    #sub { vertical-align: sub; 
    	 font-size: small;
	 }
</style>
  <body>

<h1>HN&amp;&amp;LO - Hacker News update queue</h1>

<h3>Summary</h3>
<p>Retried: [% summary.retries -%]. Updated (and retried): [% summary.updates -%]. Removed: [% summary.removes -%]. Dead: [% summary.deads -%].</p>

<p>Total items in queue: [% summary.items_in_queue -%]. Highest retry count: [% max_retry_count.last -%].</p>

<p>This page was updated on [% generation_time -%] UTC - <a href="#wat">[wat]</a> - <a href="#key">[key]</a> - <a href="#retry_summary">[Retry levels and counts]</a></p>

[% rownum = 1 -%]
<table>
<tr><th colspan="9"><h4>Updates</h4></th></tr>
<tr><th>#</th><th>Id</th><th>URL</th><th>Domain</th>
<th>S</th><th>C</th><th>R</th>
<th>Item age</th><th>Status</th><th>&percnt; change</th></tr>
[% FOREACH id IN current.keys.sort -%]
<tr>
<td class="num">[% rownum -%].</td>
<td><a href="https://news.ycombinator.com/item?id=[% id -%]">[% id -%]</a></td>
<td><a href="[% current.$id.url -%]">
  [% IF new.$id.title -%]
  [% THEN -%][% current.$id.title -%] → <br/>[% new.$id.title -%]
  [% ELSE -%][% current.$id.title -%]
  [% END -%]</a>
  [% IF current.$id.frontpage -%][% THEN -%] [% current.$id.frontpage -%][% END -%]
</td>
<td>[% current.$id.domain -%]</td>
<td class="num">
  [% IF new.$id.score -%]
  [% THEN -%][% current.$id.score -%]→[% new.$id.score -%]
  [% ELSE -%][% current.$id.score -%]
  [% END -%]
</td>
<td class="num">
  [% IF new.$id.comments -%]
  [% THEN -%][% current.$id.comments -%]→[% new.$id.comments -%]
  [% ELSE -%][% current.$id.comments -%]
  [% END -%]
</td>
<td class="num">
  [% IF new.$id.retry_level  -%]
  [% THEN -%][% current.$id.retry_level -%]→[% new.$id.retry_level -%]
  [% ELSE -%][% current.$id.retry_level -%]
  [% END -%]
<span id="sub">[% current.$id.retry_count -%]</span></td>
<td class="num">[% current.$id.item_age -%]</td>
<td class="center">[% current.$id.status -%]</td>
<td class="num">
  [% IF new.$id.percentage -%]
  [% THEN -%][% new.$id.percentage -%]&percnt;
  [% ELSE -%]&nbsp;[% END -%]
</td>
</tr>
[% rownum = rownum + 1 -%]
[% END -%]
[% rownum = 1 %]
<tr><th colspan="9"><h4>Current queue (next hour)</h4></th></tr>

<!-- <tr><th>Id</th><th>URL</th><th>Domain</th><th>S</th><th>C</th><th>R</th><th>Item age</th><th>&nbsp;</th><th>&nbsp;</th></tr> -->

[% FOREACH entry IN queue_data -%]
<tr>
<td class="num">[% rownum -%].<td><a href="https://news.ycombinator.com/item?id=[% entry.id -%]">[% entry.id -%]</a></td>
<td><a href="[% entry.url -%]">[% entry.title -%]</a>
  [% IF entry.frontpage -%][% THEN -%] [% entry.frontpage -%][% END -%]
</td>
<td>[% entry.domain -%]</td>
<td class="num">[% entry.score -%]</td>
<td class="num">[% entry.comments -%]</td>
<td class="num">[% entry.retry_level -%]<span id="sub">[% entry.retry_count -%]</span></td>
<td class="num">[% entry.item_age -%]</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
[% rownum = rownum + 1 %]
[% END %]
</table>

<h3 id="retry_summary">Retry levels and count</h3>

<pre>
[% retry_table %]
</pre>

<pre>
[% exception_log %]
</pre>

<h3><a id="wat">What is this</a></h3>

<p>This is the update queue for submissions from Hackernews in <a
href="/hnlo">HN&amp;&amp;LO</a>.</p>

<p>Whenever a submission <a href="/hnlo/log.html">is read</a>, an
entry is added to the queue about an hour into the future. Every 10
minutes or so, the queue reads those items that are older than the
current time, connects to HN, and compares scores, comments, and
titles. If they have been changed, the item is re-submitted to the
queue.</p>

<p>While most items in HN rarely get more than 2 karma and zero
comments, some might get popular, so these items are given an extra
chance when first seen in the queue.</p>

<p>If an entry is older than 24h and isn't getting many updates
(defined as the new sum of score and comments is less than 1&percnt;
more than the previous sum), it's removed from thee queue.</p>

<p>If an item has been resubmitted 3 times and there's no change, it
is removed from the queue.</p>

<h3 id="key">Key</h3>

<ul>
<li>❌🧟 - removed from queue due to age</li>
<li>❌= - removed from queue because unchanged</li>
<li>❌&percnt; - removed from queue; change percentage too low</li>
<li>💀 - item is dead</li>
<li>♻️↓ - item has been reset in the queue despite a low score</li>
<li>♻️ - item has been reset in the queue</li>
<li>🔄 - item has been updated in the database, and reset in the queue</li>
<li>🟢 - retry level 1</li>
<li>🟡 - retry level 2</li>
<li>🔴 - retry level 3</li>
</ul>

</body></html>

