<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HN update queue for HN&amp;&amp;LO</title>
    </head>
  <style>
    li: {padding-top: 20px; padding-bottom: 20px; }
    .split-line span {float:right;padding-right: 10%;}
    table td, table td * { vertical-align: top; }
    table td.num {text-align: right;}
    table td.center {text-align: center;}
    </style>
  <body>

<h3>HN&amp;&amp;LO - Hacker News update queue</h3>

<h4>Summary</h4>

<ul>
<li>Retried: [% summary.retries -%]</li>
<li>Updated (and retried): [% summary.updates -%]</li>
<li>Removed: [% summary.removes -%]</li>
</ul>

<p>This page was updated on [% generation_time -%] UTC.</p>

<p><a href="#wat">[wat]</a></p>

<table>
<tr><th colspan="9"><h4>Updates</h4></th></tr>
<tr><th>Id</th><th>URL</th><th>Domain</th><th>S</th><th>C</th><th>R</th><th>Item age</th><th>Status</th><th>&percnt; change</th></tr>
[% FOREACH id IN update_data.keys.sort -%]
<tr>
<td><a href="https://news.ycombinator.com/item?id=[% id -%]">[% id -%]</a></td>
<td><a href="[% update_data.$id.url -%]">[% IF update_data.$id.changes.title -%][% THEN -%][% update_data.$id.title -%] → <br/>[% update_data.$id.changes.title -%] [% ELSE -%] [% update_data.$id.title -%][% END -%]</a></td>
<td>[% update_data.$id.domain -%]</td>
<td class="num">[% IF update_data.$id.changes.score -%][% THEN -%][% update_data.$id.score -%]→[% update_data.$id.changes.score -%] [% ELSE -%] [% update_data.$id.score -%][% END -%]</td>
<td class="num">[% IF update_data.$id.changes.comments -%][% THEN -%][% update_data.$id.comments -%]→[% update_data.$id.changes.comments -%] [% ELSE -%] [% update_data.$id.comments -%][% END -%]</td>
<td class="num">[% IF update_data.$id.changes.retries or update_data.$id.changes.retries == 0 -%][% THEN -%][% update_data.$id.retries -%]→[% update_data.$id.changes.retries -%] [% ELSE -%] [% update_data.$id.retries -%][% END -%]</td>
<td class="num">[% update_data.$id.item_age -%]</td>
<td class="center">[% update_data.$id.status -%]</td>
<td class="num">[% IF update_data.$id.changes.percentage -%][% THEN -%][% update_data.$id.changes.percentage -%]&percnt; [% ELSE -%]&nbsp;[% END -%]</td>


</tr>
[% END -%]

<tr><th colspan="9"><h4>Current queue (next hour)</h4></th></tr>

<!-- <tr><th>Id</th><th>URL</th><th>Domain</th><th>S</th><th>C</th><th>R</th><th>Item age</th><th>&nbsp;</th><th>&nbsp;</th></tr> -->

[% FOREACH entry IN queue_data -%]
<tr>
<td><a href="https://news.ycombinator.com/item?id=[% entry.id -%]">[% entry.id -%]</a></td>
<td><a href="[% entry.url -%]">[% entry.title %]</a></td>
<td>[% entry.domain -%]</td>
<td class="num">[% entry.score -%]</td>
<td class="num">[% entry.comments -%]</td>
<td class="num">[% entry.retries -%]</td>
<td class="num">[% entry.item_age -%]</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
[% END %]
</table>

<h3><a id="wat">What is this</a></h3>

<p>This is the update queue for submissions from Hackernews in <a
href="/hnlo">HN&amp;&amp;LO</a>.</p>

<p>Whenever a submission <a href="/hnlo/log.html">is read</a>, an
entry is added to the queue about an hour into the future. Every 10
minutes or so, the queue reads those items that are older than the
current time, connects to HN, and compares scores, comments, and
titles. If they have been changed, the item is re-submitted to the
queue.</p>

<p>While most items in HN rarely get more than 2 karma and zero
comments, some might get popular, so these items are given an extra
chance when first seen in the queue.</p>

<p>If an entry is older than 24h and isn't getting many updates
(defined as the new sum of score and comments is less than 1&percnt;
more than the previous sum), it's removed from thee queue.</p>

<p>If an item has been resubmitted 3 times and there's no change, it
is removed from the queue.</p>

</body></html>

