### START [% datetime %]
Updated: [% count %] Commented: [% commented %]
Inserts: 
[% FOREACH entry IN entries -%]
Lo | https://lobste.rs/s/[% entry.0 -%] | 
[% entry.3 -%] |
[% entry.2 -%] | 
[% entry.8 -%] | tags: [% entry.7 -%] | [% entry.4 -%] | S: [% entry.6 -%] | C: [% entry.5 %]
[% END -%]
### END
