<h3>Lobste.rs</h3>
<ol>
[% FOREACH entry IN entries -%]
<li class="split-line"><a href="https://lobste.rs/s/[% entry.0 -%]">[% entry.0 -%]</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="[% entry.2 -%]">[% entry.3 -%]</a>&nbsp;&nbsp;&nbsp;&nbsp;([% entry.8 -%])&nbsp;&nbsp;&nbsp;&nbsp;[[% entry.7 -%]]<span><a href="https://lobste.rs/u/[% entry.4 -%]">[% entry.4 -%]</a> S: [% entry.6 -%] C: [% entry.5 -%]</span></li>
[% END %]
</ol>
