<h3>/r/programming</h3>
<ol>
[% FOREACH entry IN entries -%]
<li class="split-line"><a href="https://www.reddit.com/r/programming/comments/[% entry.id -%]">[% entry.id -%]</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="[% entry.url -%]">[% entry.title %]</a>&nbsp;&nbsp;&nbsp;&nbsp;([% entry.host -%])<span><a href="https://reddit.com/user/[% entry.author -%]">[% entry.author -%]</a> S: [% entry.score -%] C: [% entry.num_comments -%]</span></li>
[% END %]
</ol>
